@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.footer{
  display: flex;
  padding: 0 1em;
  background: #eeeeee;
}


.header {
  display: flex;
  padding: 0 1em;
}

a {
  text-decoration-line: none;
  color: black;
}

ul {
  display: flex;
  padding-inline-start: 0;
  list-style-type: none;
  gap: 1em;
}

.left-links {
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 1em;
}

body {
  display: flex;
  flex-direction: column;
  
}